html{
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $text-color1;
    background-color: $back-color1;
    
}
a{
    color: $text-color1;
}
.global-wrap{
    overflow: hidden;
    min-height: 100vh;
}
.container{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    text-align: center;
    font-size: clamp(1.7rem, 4vw, 2.4rem);
}
.description{
    color: $text-color3;
    text-align: center;
    font-size: clamp(1.3rem, 2.6vw, 1.7rem);
}