html{
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $text-color1;
    background-color: $back-color1;
    overflow: hidden;
}
body{
    overflow: hidden;
    height: 100vh;
}
a{
    color: $text-color1;
}
.container{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    text-align: center;
    font-size: clamp(1.4rem, 4vw, 2.4rem);
}
.description{
    color: $text-color3;
    text-align: center;
    font-size: clamp(1.05rem, 2.5vw, 1.6rem);
}